@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray1: #262626;
  --gray2: #f2f1e4;
  --darkRed: #a6550f;
  --yellow: #f2a444;
  --green: #828c77;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--gray1);
  background: var(--green);
  font-family: Arial, Helvetica, sans-serif;
}
